main .boxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  main .boxs {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .boxs .item {
  padding: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 5px 10px rgba(45, 45, 45, 0.229);
  border-radius: 12px;
}
main .boxs h2 {
  margin-bottom: 40px;
}
main .boxs .info {
  margin-bottom: 50px;
}
main .boxs .re {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
main .boxs .re div {
  width: 20px;
  height: 20px;
}
/* rang */
main .rang-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
main .rang-item .rang {
  width: 90%;
  height: 13px;
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  overflow: hidden;
}
main .rang-item .rang div {
  height: 100%;
}
